<div class="flex flex-row justify-between mt-5 ml-5">
    
        <button mat-icon-button aria-label="home">
            <mat-icon>menu</mat-icon>Life Calendar
        </button>        


        <div class="example-button-row">
            <button mat-button>Home</button>            
            <a mat-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
        <div class="example-button-row">
            <button mat-button>Categories</button>            
            <a mat-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
        <div class="example-button-row">
            <button mat-button>Pricing</button>            
            <a mat-button href="https://www.google.com/" target="_blank">Link</a>
        </div>        

        <div class="example-button-row">
            <button mat-flat-button>Settings</button>            
            <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
        
    
</div>
