

<!-- <div class="flex flex-col flex-1 justify-items-center">
    
    @for (row of rows; track $index) {
        
    
        <div class="flex flex-row justify-items-center space-x-1 ">
        @for (col of cols; track $index) {
            @for (row of rows; track $index) {
            <app-calendar-week></app-calendar-week>
       }}
        </div>
    }
</div> -->

<div class="grid grid-rows-100 mt-10">
     @for (row of rows; track row; let rowIndex = $index) {
        <div class="grid grid-cols-52 px-10 mx-10 content-center mx-auto">
        
            @for (col of cols; track col; let colIndex = $index) {       
                @if (rowIndex==0) {
                    <!-- header -->
                    <div class="min-h-1 min-w-1 border-0" 
                    [ngStyle]="{
                        'width': gridItemWidth + 'px', 
                        'height': gridItemHeight + 'px'
                    }">
                        <div class="text-xs text-center">{{colIndex+1}}</div>
                    </div>
                }
                @else{
                    <div class="min-h-1 min-w-1 rounded-md border border-slate-200 hover:bg-orange-200 hover:border-orange-500" 
                    [ngStyle]="{
                        'width': gridItemWidth + 'px', 
                        'height': gridItemHeight + 'px',
                        'background-color': currentColorSchema.colors[rowIndex][colIndex]
                    }">
                        <app-calendar-week [weekno]="colIndex"></app-calendar-week>                
                    </div>
                }
            }
        </div>
    }    
</div>
    
