<!-- <table>
    <tr>
        @for (col of cols; track col; let  j = $index) {   
            @if (j>0) {
            <td>{{j}}</td>
            }
            @else {<td></td>}
        }
    </tr>
    @for (row of rows; track row; let  i = $index) {   
     <tr>{{i+1}}
        @for (col of cols; track col; let  j = $index) {   
        <td>.</td>
        }
    </tr>
    }
</table>  -->

<mat-grid-list cols="12" rowHeight="1:2">
    @for (col of cols; track $index) {
        @for (row of rows; track $index) {
            <mat-grid-tile>
                <app-calendar-week></app-calendar-week>
            </mat-grid-tile>
        }
    }    
</mat-grid-list> 
