<!-- <div class="flex flex-col flex-1 justify-items-center">
    
    @for (row of rows; track $index) {
        
    
        <div class="flex flex-row justify-items-center space-x-1 ">
        @for (col of cols; track $index) {
            @for (row of rows; track $index) {
            <app-calendar-week></app-calendar-week>
       }}
        </div>
    }
</div> -->
<app-toolbar></app-toolbar>

    <div class="grid grid-rows-[repeat(52, minmax(auto, 1fr))] gap-4 mx-auto">
    <div class="grid grid-cols-53 px-10 mx-auto content-center mx-auto">
        @for (row of rows; track row; let rowIndex = $index) {
            @for (col of cols; track col; let colIndex = $index) {
                <div 
                [ngClass]="{
                    'min-h-1 min-w-1 rounded-md border border-slate-200 hover:bg-orange-200 hover:border-orange-500': rowIndex !== 0 || colIndex !== 0,
                    'min-h-1 min-w-1 border-0 text-xs text-center': rowIndex === 0 || colIndex === 0
                }" 
                [ngStyle]="{
                                'width': gridItemWidth + 'px', 
                                'height': gridItemHeight + 'px',
                                'background-color': (rowIndex > 0 && colIndex > 0) ? currentColorSchema.colors[rowIndex][colIndex] : 'transparent',
                                'color': (rowIndex === 0 || colIndex === 0) ? 'gray' : 'inherit',
                                'font-size': (rowIndex === 0 || colIndex === 0) ? '8px' : 'inherit'
                }">
                @if (rowIndex==0) {
                    @if (colIndex==0) {<!-- the upper corner, leave empty -->}
                    @else{ {{colIndex}} }
                }
                @else if (colIndex==0) {
                    {{rowIndex}}
                }
                @else {
                    <app-calendar-week-box [weekindex]="colIndex" [yearindex]="rowIndex"></app-calendar-week-box>
                }
            
            </div>
            }
        }
    </div>
</div>
